[global]
private dir = @@test_dir@@/log/private
lock directory = @@test_dir@@/log/lock
state directory = @@test_dir@@/log/state
cache directory = @@test_dir@@/log/cache
pid directory = @@test_dir@@/log/pid
ncalrpc dir = @@test_dir@@/log/ncalrpc

netbios name = localhost
map to guest = BAD USER
stat cache = no

[template]
path = @@test_dir@@/log/share
writeable = yes
guest ok = no

[private]
copy = template

[public]
copy = template
guest ok = yes

[readonly]
copy = template
writeable = no

[共有]
copy = template

[共有フォルダー]
copy = template

